/* Navigation.css */

.menu {
  position: absolute;
  top: 64px;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;

  background: rgba(0, 0, 0, 0.9);

  opacity: 0;
  width: 100%;
  transform: translateY(-10px);
  transition: opacity 0.25s ease, transform 0.25s ease;

  z-index: 1000;
  pointer-events: none;
}

.menu.menu--open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.menu a {
  position: relative;
  color: white;
  text-decoration: none;
}
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 102, 0);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 768px) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    flex-direction: row;
    align-items: center;
    gap: 24px;
     pointer-events: auto; 
    opacity: 1;
    padding: 0;
    background: transparent;
    transform: none;
  }
}
