.wrapper {
  position: relative;

  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  top: 9vh;
  width: 80%;
  margin: 0 auto;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0.164);
  height: 70px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: ease 0.3s;
}

.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px; /* border thickness */
  border-radius: inherit;
  background: linear-gradient(
    135deg,
    #00ffff00,
    #00ffff00,
    #00ffff00,
    #00ffff00,
    #ffffff91,
    #00ffff00,
    #00ffff00,
    #00ffff00,
    #00ffff00
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.wrapper.open {
  top: 4rem;
  transition: ease 0.3s;
}

.wrapper.open::before {
  transition: background 1s;
  background: linear-gradient(
    135deg,
    #00ffff00,
    #00ffff00,
    #00ffff00,
    #00ffff00,
    #00ffff00,
    #ffffff83,
    #00ffff00,
    #00ffff00,
    #00ffff00
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.icon-search {
  margin-left: 0.5rem;
  display: flex;
  align-self: center;
  color: rgb(255, 115, 0);
}

.icon-play {
  display: flex;
  align-self: center;
  color: rgb(75, 75, 75);
  transform: rotate(-180deg);
}
.button {
  position: relative;
  outline: none;
  border: 0;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-content: center;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: rgb(206, 206, 206);
  height: 50px;
  border-radius: 0.5rem;
  box-shadow:
    inset 0 0 0 1px rgb(255, 255, 255),
    inset 0 0 6px rgb(255, 255, 255);
}
.button p {
  margin-left: -1rem;
  align-self: center;
  font-size: 1rem;
  color: rgb(53, 53, 53);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.9),
    inset 0 0 6px rgba(255, 255, 255, 0.8);
}
.button:active {
  background-color: rgba(255, 255, 255, 0.671);
}
.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.dropdown-menu a {
  color: rgb(34, 34, 34);
  text-decoration: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}
.dropdown-menu a:hover {
  color: rgb(255, 115, 0);
}

/* active (mobile tap) */
.dropdown-menu a:active {
  color: rgb(255, 115, 0);
}
.dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
}

* {
  -webkit-tap-highlight-color: transparent;
}
