.trip-card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0.5rem;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #575757;
  
 
}
.info-section {
  flex: 1;
  padding: 0 1rem;
}
.info-section h1 {
  font-size:xx-large;
  color: rgb(29, 29, 29);
  margin: 0;
}
.image {
  height: 220px;
  
  background-size: cover;

  margin: 0.5rem;
  border-radius: 10px;
}
.tags {
  display: flex;
  gap: 0.5rem;
}

.tags p {
  margin: 5px 0;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: rgb(68, 68, 68);
  font-size: small;
}

blockquote {
  margin: 0;
  font-size:small;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 8px;
  column-gap: 12px;
  font-size: small;
}
dt {
  font-weight: 700;
}

dd {
  margin: 0; /* important: remove default margin */
}
.price p {
  margin: 1rem 0 0 0;
  font-size: small;
}
.price-adjust {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
}
.price-adjust h2 {
  font-size: xx-large;
}
.price-info {
  padding: 0.2rem 0 ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: small;
}
h2 {
  margin: 0;
  color: rgb(31, 31, 31);
}


.buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  margin: 1rem 0;
}

.details-button {
  width: 10rem;
  height: 3rem;
  font-family: inherit;
  font-size: 14px;
  font-weight: 450;
  background: #ff7200;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.details-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.details-button:hover {
  transition: transform 0.3s ease-in-out;

}
.details-button svg{
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  transform:  rotate(-45deg) scale(1.1);
}
.details-button:hover .arrow-icon {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.details-button:hover svg{
 
  transform: translateX(3.6rem) scale(1.5);
}

.details-button:hover span {
  transform: translateX(10em);
 
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


.itinerary-button {
  width: 10rem;
  height: 3rem;
 font-family: inherit;
  font-size: 14px;
  font-weight: 450;
  background: rgb(205, 212, 219);
  color: rgb(95, 95, 95);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.itinerary-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.itinerary-button svg{
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  transform:  rotate(-45deg) scale(1.1);
}
.itinerary-button:hover .download-icon {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.itinerary-button:hover svg{
 transform: translateX(3.6rem) scale(1.5);
}

.itinerary-button:hover span {
  transform: translateX(10em);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* Featured styles */
.trip-card--featured {
  box-shadow: none;
  flex-direction: column;
  
}
.trip-card--featured .tags {
  display: none;
}
.trip-card--featured .desc-list {
  display: none;
}
.trip-card--featured .buttons {
  display: none;
}
.trip-card--featured .price-info {
  display: none;
}
@media (min-width: 768px) {
  .trip-card {
    flex-direction: row;
    max-width: 1000px;
  }
  .info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
  .image {
  
  width: 300px;
  background-size: cover;


  border-radius: 10px;
}
.trip-card--featured {
  box-shadow: none;
  flex-direction: column;
  
}
.trip-card--featured .tags {
  display: none;
}
.trip-card--featured .desc-list {
  display: none;
}
.trip-card--featured .buttons {
  display: none;
}
.trip-card--featured .price-info {
  display: none;
}
.trip-card--featured .info-section {
  display: flex;
  flex-direction: column;
}


}