html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}


.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(/malaysia.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.hero > * {
  position: relative;
  z-index: 1;
}

/* TOP BAR */
.top-bar {
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}



.logo {
  font-weight: bold;
  
   height: 20px;
  font-size: 18px;
}

/* MENU (desktop only) */
.menu {
  display: none;
  gap: 24px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* ACTIONS */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.call-text,
.cta {
  display: none;
}

.hamburger {
  display: block;
  font-size: 24px;
  cursor: pointer;
}


.call-icon {

  color: white;
fill: white;

}

/* DESKTOP VIEW */
@media (min-width: 768px) {
  .top-bar {
    justify-content: space-between;
  }

  .menu {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .call-text {
    display: inline;
    margin-left: 8px;
  }

  .cta {
    display: inline-block;
    padding: 8px 16px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
  }
}
