html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/malaysia.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  width: 100vw;
  min-height: 100vh;
  
}
