html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background: #000; /* hero background */
}

.content {
  width: 100vw;
  min-height: 100vh;
  background: #f5f5f5; /* just to see it */
}
