html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/malaysia.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* TOP BAR */
.top-bar {
  position: relative;
  width: 100%;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}


.logo {
  font-weight: bold;
  font-size: 18px;
}

/* MENU (desktop only) */
.menu {
  display: none;
  gap: 24px;
}

.menu a {
  color: white;
  text-decoration: none;
}

/* ACTIONS */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.call-text,
.cta {
  display: none;
}

.hamburger {
  display: block;
  font-size: 24px;
  cursor: pointer;
}

/* DESKTOP VIEW */
@media (min-width: 768px) {
  .top-bar {
    justify-content: space-between;
  }

  .menu {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .call-text {
    display: inline;
    margin-left: 8px;
  }

  .cta {
    display: inline-block;
    padding: 8px 16px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
  }
}
