.embla {
  max-width: 48rem;
  
  margin: auto;
  --slide-height: 25rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
 
}

.embla__viewport {
  overflow: hidden;
  margin-top: 2rem;
}

.embla__container {
  display: flex;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__viewport {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
}



.embla__slide {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  height: var(--slide-height);
  border-radius: 1.8rem;

  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-size:cover;
}

.embla__controls {
 border: none;
  display: flex;
flex-direction: column;

  margin-top: 1.5rem;
  justify-content: center;
}

.embla__buttons {
  display: none;
  gap: 0.5rem;
}

.embla__button {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 2px solid #ddd;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.embla__button.is-disabled {
  opacity: 0.3;
  cursor: default;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  gap: 1rem;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.embla__dot:before,
.embla__dot:after {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot:focus {
  outline: none;
}

.embla__dot.is-selected {
  transform: scale(1.2);
  opacity: 1;
  background: orange;

}
.embla__controls h1 {
  align-self: self-start;
  margin-left: 1rem;
  margin-bottom: 0.1rem;
  margin-top: 0.3rem;
  color: white;
}
.embla__controls p {
  align-self: self-start;
  margin-left: 1rem;
  color: white;
}
