.hero {
  width: 100%;
  height: 110vh;
  background-image: url(/malaysia.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  pointer-events: none;
  z-index: 0;
}

.hero > * {
  position: relative;
  z-index: 1;
}

/* TOP BAR */
.top-bar {
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: relative;
  z-index: 10;
}

.logo {
  height: 25px;
}

/* ACTIONS */
.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.call {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.call:visited,
.call:hover,
.call:active,
.call:focus {
  color: inherit;
  text-decoration: none;
}

.call-icon {
  font-size: 25px;
}

.call-text,
.cta {
  display: none;
}
.home-feed {
 
}
.simple-carousel {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.simple-carousel > * {
  flex: 0 0 70%;
  scroll-snap-align: start;
}

/* DESKTOP VIEW */
@media (min-width: 768px) {
  .call-text {
    display: inline;
    margin-left: 8px;
  }

  .cta {
    display: inline-block;
    padding: 8px 16px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
  }

  .actions {
    margin: 0;
    order: 3;
  }
  .nav-wrap-home {
    position: relative;
    z-index: 20;
    order: 2;
  }
   .simple-carousel{
    margin-left: 0;
   }
  .simple-carousel > * {
  flex: 0 0 25%;
  scroll-snap-align: start;
}
}
